.ConfigurationModal {
  display: none;
}

.isSpeaking {
  cursor: not-allowed;
  background-color: yellow !important;
  color: black;
}

.word-segment {
  cursor: pointer;
}

.masked span {
  color: gray;
  background-color: gray;
  border-radius: 1rem;
  -webkit-filter: blur(2px) grayscale(1) invert(0.1);
}

.isPracticing {
  cursor: wait !important;
  pointer-events: none;
}

.positive {
  color: #21ba45 !important;
}

.practice-hint {
  cursor: pointer;
}

.practice-again-hint {
  
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  color: gray;
  visibility: hidden;
  
  &.visible {
    visibility: visible;
  }
}

.keep-going {
  color: gray !important;
}