.ConfigurationModal {
  display: none;
}

.isSpeaking {
  cursor: not-allowed;
  background-color: yellow !important;
  color: black;
}

.word-segment {
  cursor: pointer;
}

.masked span {
  color: gray;
  background-color: gray;
  border-radius: 1rem;
  -webkit-filter: blur(2px) grayscale(1) invert(0.1);
}

.isPracticing {
  cursor: wait;
  pointer-events: none;
}
