<div class="ui modal ConfigurationModal" ref="Modal">
  <i class="close icon"></i>
  <div class="header">
    {{ $t('Word Practice') }}
  </div>
  <div class="content ui form">
    
    <div class="word-segment-container">
      <div class="ui segment word-segment"
           v-bind:class="{isSpeaking: isSpeaking}"
           v-on:click="speakWord">
        <h2 class="ui center aligned header"
            v-if="!wordTrans"
            v-bind:class="computedWordMaskClassesWithoutTrans">
          <span class="word">
            {{ currentWord }}
          </span>
        </h2>
        <div v-if="wordTrans && config.currentWordMask !== 'translation'"
             class="ui two column center aligned grid">
          <div class="ui vertical divider">
            <i class="language icon"></i>
          </div>
          <div class="column">
            <h2 class="ui center aligned header"
              v-bind:class="computedWordMaskClassesWithTrans">
              <span class="word">
                {{ currentWord }}
              </span>
            </h2>
          </div>
          <div class="column"
               v-on:click.stop="openDictionary">
            <h2 class="ui center aligned header word">
              {{ wordTrans }}
            </h2>
          </div>
        </div>
        <h2 class="ui center aligned header word"
            v-if="wordTrans && config.currentWordMask === 'translation'">
            {{ wordTrans }}
        </h2>
      </div>
    </div>
    
    <h2 class="ui center aligned header practice-hint"
        v-on:click="practiceWord"
        v-bind:class="computedPracticeWordClasses"
        v-if="localConfig.practiceMode === 'speaking'">
      <template v-if="!config.practiceWord">
        <i class="conversation icon"></i>
        <template v-if="!isPracticing">
          {{ $t(`Let's Practice!`) }}
        </template>
        <template v-if="isPracticing">
          {{ $t(`Keep going... Keep going...`) }}
        </template>
      </template>
      <template v-if="config.practiceWord">
        {{ config.practiceWord }}
        <h3 class="practice-again-hint"
          v-bind:class="{visible: (!isPracticing && config.practiceWordScore < 0.7)}">
          <i class="conversation icon"></i>
          {{ $t(`Practice again?`) }}
        </h3>
      </template>
    </h2>
    
    <h2 class="ui center aligned header practice-hint"
        v-on:click="practiceWord"
        v-bind:class="computedPracticeWordClasses"
        v-if="localConfig.practiceMode === 'writing'">
      <div class="field"
           v-bind:class="computedWritingPracticeHintFieldClasses">
          <i class="keyboard outline icon"></i>
          <template v-if="!isPracticing && !isPerfect">
            {{ $t(`Let's Practice!`) }}
          </template>
          <template v-if="isPracticing">
            {{ $t(`Keep going... Keep going...`) }}
          </template>
          <template v-if="isPerfect">
            {{ $t(`Perfect!`) }}
          </template>
          
          
      </div>
      <div class="field">
        <input 
          v-model="config.practiceWord"
          class="typing-practice-input"
          ref="TypingPracticeInput"
          v-if="config.practiceWord || config.practiceWord === ''">
      </div>
    </h2>
    
  </div>
  <div class="actions">
    <div class="ui button"
         v-on:click="openDictionary">
      {{ $t('Dictionary') }}
    </div>
    <div class="ui icon button"
         v-on:click="practiceWord">
      <i class="comment outline icon" />
    </div>
    <div class="ui icon button"
         v-on:click="speakWord">
      <i class="icon"
         v-bind:class="{'play': !isSpeaking, pause: isSpeaking}" />
    </div>
    <div class="ui button"
         v-on:click="close">
      {{ $t('OK') }}
    </div>
  </div>
</div>