<div class="ui bottom fixed menu">
  <!--
  <a class="item">
    <input type="checkbox" v-model="localConfig.repeatPractice"
           id="repeatPractice" />
    <label for="repeatPractice">
      Repeat Practice
    </label>
  </a>
  <a class="item">
    Rate {{ localConfig.rate }}

    <input type="range" min="0.5" max="1.5" 
           v-model="localConfig.rate" 
           class="slider"
           step="0.1">
  </a>
  <a class="item">
    Pitch {{ localConfig.pitch }}

    <input type="range" min="0.5" max="1.5" 
           v-model="localConfig.pitch" 
           class="slider"
           step="0.1">
  </a>
  <a class="item"
     v-if="voice">
    <select v-model="localConfig.voiceName">
      <option v-for="name in voiceNameList"
              v-bind:value="name">
        {{ name }}
      </option>
    </select>
  </a>
  -->
  
  <div class="ui icon item">
    <i class="file alternate outline icon" />
  </div>
  <div class="ui item">
    <div class="ui tiny buttons">
      <button type="button" 
              class="ui icon button">
        <i class="minus icon"></i>
      </button>
      <button type="button" 
              class="ui disabled button">
        {{ localConfig.rate }}x
      </button>
      <button type="button" 
              class="ui icon button">
        <i class="plus icon"></i>
      </button>
    </div>
    
  </div>
  
  <div class="right menu">
    <div class="ui icon item">
      <i class="step backward icon" />
    </div>
    
    <div class="ui icon item">
      <i class="step forward icon" />
    </div>
    
    <div class="ui icon item play-icon">
      <i class="play icon" />
    </div>
  </div>
</div>