
.current-sentence-segments {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  
  .current-sentence {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    
    &.isSpeaking {
      cursor: not-allowed;
      background-color: yellow;
      color: black;
    }
  }
}


.word.speakable {
  cursor: pointer;

  &.isSpeaking {
    cursor: not-allowed;
    background-color: yellow;
    color: black;
  }
}

.target {
  color: gray;
  padding-bottom: 0.5rem;
  width: 100%;
  
  &.isSpeaking,
  .isSpeaking {
    background-color: yellow;
    color: black;
  }
  
  &.isPracticing {
    background-color: yellow;
    color: black;
  }
}
