<div class="SentencePanel">
  <div class="ui segment sentence-segment"
       v-on:click="goToPreviousSentence">
    <div class="previous-sentence"
         v-if="localConfig.playingIndex > 0">
      <i class="step backward icon"></i>
      {{ previousSentence }}
    </div>
    <div class="previous-sentence start"
         v-if="localConfig.playingIndex === 0">
      <i class="hand point right outline icon"></i>
      {{ $t('Start') }}
    </div>
  </div>
  
  <div class="page-container">
    <MainSentencePanel 
      v-if="!pageTransition"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:sentence="currentSentence">
    </MainSentencePanel>
  </div>
  
  
  <div v-show="pageTransition"
       class="page-container-transition"
       v-bind:class="{toRight: pageTransitionToNext, toLeft: !pageTransitionToNext}">
    
    <transition name="slide">
      <div v-if="pageTransitionShow"
           class="main-sentence-panel-container">
        <MainSentencePanel 
          v-bind:config="config"
          v-bind:localConfig="localConfig"
          v-bind:utils="utils"
          v-bind:sentence="pageTransitionAfterSentence">
        </MainSentencePanel>
      </div>
    </transition>
    
    <!--
    <transition name="slide-fade">
      <div v-if="!pageTransitionShow" 
           class="main-sentence-panel-container">
        <MainSentencePanel 
          v-bind:config="config"
          v-bind:localConfig="localConfig"
          v-bind:utils="utils"
          v-bind:sentence="pageTransitionBeforeSentence">
        </MainSentencePanel>
      </div>
    </transition>
    -->
  </div>
  
  <div class="ui segment sentence-segment next"
       v-on:click="goToNextSentence">
    <template v-if="localConfig.playingIndex < config.sentenceList.length - 1">
      <i class="step forward icon"></i>
      <div class="next-sentence">
        {{ nextSentence }}
      </div>
    </template>
    <div class="next-sentence finish"
         v-if="localConfig.playingIndex === config.sentenceList.length - 1">
      
      {{ $t('Finish') }}
      <i class="flag checkered icon"></i>
    </div>
  </div>
  
  <WordModal 
    ref="WordModal"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </WordModal>
  
</div>