
.previous-sentence,
.next-sentence {
  height: 1.5rem;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  user-select: none;
}

.next-sentence {
  width: calc(100% - 2rem);
}

.sentence-segment .step.forward.icon {
  float: right;
}

.sentence-segment {
  margin: 0.5rem !important;
  cursor: pointer;
  color: gray;
}


.next-sentence {
  text-align: right;
}

.main-sentence-panel {
  height: calc(100vh - 90px - 9.3rem);
}