<div class="Index ui form">
  <div class="field">
    <label for="fieldArticle">
      Article
    </label>
    <textarea v-model="localConfig.fieldArticle"
              id="fieldArticle"></textarea>
  </div>
  
  <div v-for="(sentence, i) in sentenceList" class="ui grid"
       v-bind:id=" 'sentence'+i ">
    <div class="two wide column center aligned sentence-control-panel">
      <div>No. {{ (i+1) }}</div>
      
      <button type="button" 
            v-on:click="speak(sentence, i)" 
            class="ui button tiny icon"
            v-bind:class="{positive: (i === speakingIndex && speakingWordIndex === null && speakingDiffWordIndex === null)}">
        <i class="icon assistive listening systems" />
      </button>
      <button type="button" 
            v-on:click="practice(i)" 
            class="ui button tiny icon"
            v-bind:class="{orange: (i === practiceIndex)}">
        <i class="icon microphone" />
      </button>
    </div>
    <div class="fourteen wide column">
      <div class="target"
           v-bind:class="{isSpeaking: (i === speakingIndex && speakingWordIndex === null && speakingDiffWordIndex === null), isPracticing: (practiceIndex === i)}">
        <span v-for="(word, j) in sentence.split(' ')"
              class="word"
              v-bind:class="{isSpeaking: (i === speakingIndex && j === speakingWordIndex)}"
              v-on:click="speakWord(word, i, j)"
              v-on:dblclick="openDict(word)">
          {{ word }}
        </span>
      </div>
      <div class="practice"
           v-if="practiceList[i] && practiceList[i].length > 0">{{ practiceList[i] }}</div>
      <div class="diff"
           v-if="diffList[i] && diffList[i].length > 0">
        <span v-for="(diff, j) in diffList[i]"
          v-bind:class="{removed: diff.removed, added: diff.added}">
          <span v-for="(word, k) in diff.value.split(' ')"
              class="word"
              v-bind:class="{isSpeaking: (i === speakingIndex && (j + '-' + k) === speakingDiffWordIndex)}"
              v-on:click="speakDiffWord(word, i, (j + '-' + k))"
              v-on:dblclick="openDict(word)">
            {{ word }}
          </span>
        </span>
      </div>
    </div>
  </div>
  
  
  <ControllerMenuBar
    ref="ControllerMenuBar"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils"
    v-bind:voice="voice"
    v-bind:voiceNameList="voiceNameList">
  </ControllerMenuBar>
</div>