


.practice,
.diff {
  width: 100%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #CCC;
}

.diff {
  
  .removed {
    text-decoration: line-through;
    color: gray;
  }
  
  .added {
    color: red;
  }
}

.sentence-control-panel {
  white-space: nowrap;
}

.main-panel {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 90px);
  top: 45px;
  left: 0;
  
  
}
