<div class="ui top fixed menu">
  <!--
  <a class="item">
    <input type="checkbox" v-model="localConfig.repeatPractice"
           id="repeatPractice" />
    <label for="repeatPractice">
      Repeat Practice
    </label>
  </a>
  <a class="item">
    Rate {{ localConfig.rate }}

    <input type="range" min="0.5" max="1.5" 
           v-model="localConfig.rate" 
           class="slider"
           step="0.1">
  </a>
  <a class="item">
    Pitch {{ localConfig.pitch }}

    <input type="range" min="0.5" max="1.5" 
           v-model="localConfig.pitch" 
           class="slider"
           step="0.1">
  </a>
  <a class="item"
     v-if="voice">
    <select v-model="localConfig.voiceName">
      <option v-for="name in voiceNameList"
              v-bind:value="name">
        {{ name }}
      </option>
    </select>
  </a>
  -->
  
  
  <a class="ui icon item"
     v-bind:class="{disabled: (localConfig.rate === 0.5)}"
     v-on:click="rateSlow">
    <i class="minus icon"></i>
  </a>
  <a class="ui item"
     v-on:click="localConfig.rate = 1">
    <div class="rate-item">
      {{ localConfig.rate }}X
    </div>
  </a>
  <a class="ui icon item"
     v-bind:class="{disabled: (localConfig.rate === 1.5)}"
     v-on:click="rateFast">
    <i class="plus icon"></i>
  </a>
  <a class="ui icon item"
       v-on:click="openConfigurationModal">
    <i class="cog icon"></i>
  </a>
  
  <div class="right borderless menu">
    <a class="ui item article-item"
       v-on:click="openArticleModal">
      <template v-if="config.sentenceList.length > 0">
        {{ (localConfig.playingIndex + 1) }}
        / 
        {{ config.sentenceList.length }}
      </template>
      <i class="file alternate outline icon" />
    </a>
  </div>
</div>