<div class="ui bottom fixed menu">
  <div class="ui toggle item">
    <div class="ui compact">
      <div class="ui toggle checkbox">
        <input type="checkbox" v-model="localConfig.autoPlay">
        <label>{{ $t('Auto') }}</label>
      </div>
    </div>
  </div>

  <div class="right menu">
    <a class="ui icon item"
       v-bind:class="{disabled: localConfig.playingIndex === 0}"
       v-on:click="goToPreviousSentence">
      <i class="step backward icon" />
    </a>

    <a class="ui icon item"
       v-bind:class="{disabled: localConfig.playingIndex === config.sentenceList.length - 1}"
       v-on:click="goToNextSentence">
      <i class="step forward icon" />
    </a>


    <a class="ui icon item"
       v-if="localConfig.practiceMode === 'speaking'"
       v-on:click="practice">
      <i class="comment outline icon" />
    </a>
    <a class="ui icon item"
       v-on:click="speakCurrentSentence()"
       v-bind:class="{isSpeaking: config.currentSentenceIsSpeaking}">
      <i class="icon"
         v-bind:class="{'play': !config.currentSentenceIsSpeaking, pause: config.currentSentenceIsSpeaking}" />
    </a>
  </div>
</div>