<div class="ui bottom fixed menu">
  <div class="ui toggle item">
    <div class="ui compact">
      <div class="ui toggle checkbox">
        <input type="checkbox" v-model="localConfig.repeatPractice">
        <label>{{ $t('Practice') }}</label>
      </div>
    </div>
  </div>

  <div class="right menu">
    <a class="ui icon item">
      <i class="step backward icon" />
    </a>

    <a class="ui icon item">
      <i class="step forward icon" />
    </a>


    <a class="ui icon item">
      <i class="comment outline icon" />
    </a>
    <a class="ui icon item">
      <i class="play icon" />
    </a>
  </div>
</div>