<div class="ui modal ConfigurationModal" ref="Modal">
  <i class="close icon"></i>
  <div class="header">
    {{ $t('Article') }}
  </div>
  <div class="content ui form">
    
    <div class="field">
      <div class="ui fluid buttons">
        <a class="ui positive button"
           v-on:click="loadRSS">
          {{ $t('Load BBC World NEWS') }}
        </a>
        <a class="ui button"
           v-on:click="loadDemo">
          {{ $t('Load Demo') }}
        </a>
      </div>
      
      <div class="two fields">
        <div class="fourteen wide field">
          <label for="setenceTokenizerStrategy">
            {{ $t('Sentence Tokenizer Strategy') }}
          </label>
          <select id="setenceTokenizerStrategy" v-model="localConfig.setenceTokenizerStrategy">
            <option value="english-default">{{ $t('English: Default') }}</option>
            <option value="english-basic">{{ $t('English: Basic') }}</option>
            <option value="english-clause">{{ $t('English: Clause') }}</option>
            <option value="chinese-default">{{ $t('Chinese: Default') }}</option>
            <option value="chinese-comma">{{ $t('Chinese: Comma') }}</option>
          </select>
        </div>
        <div class="four wide field">
          <label>
            {{ $t('Setence Count') }}
          </label>
          <div class="input">
            <input type="number" 
                   v-bind:value="config.sentenceList.length" 
                   class="ui input disabled"
                   disabled="disabled" />
          </div>
        </div>
      </div>
      
      <textarea v-model="localConfig.fieldArticle"
                id="fieldArticle"></textarea>
    </div>
  </div>
  <div class="actions">
    <div class="ui button"
         v-on:click="close">
      {{ $t('OK') }}
    </div>
  </div>
</div>