<div class="SentenceDifference"
     v-bind:class="{positive: (config.practiceSentenceEvaluationScore >= 0.7)}">
  <template v-for="(word, i) in results">
    <span v-if="!word.added"
          v-bind:class="{removed: word.removed}">
      <span v-for="(w, j) in splitWord(word.value)"
            class="word"
            v-bind:class="{space: (w === ' ')}"
            v-on:click="practiceWord(w)">{{ w }}</span>
    </span>
    <span v-if="word.added"
          class="added word"
          v-bind:class="computedAddedWord(word.value)"
          v-on:click="practiceWord(word.value)">{{ word.value }}</span>
  </template>
</div>